#highlight {
    color: #0F519F;
  }
  
  .header-div {
    height: 350px;
    width: 100%;
    padding: 0px 0px 0px 70px;
    overflow:scroll;
    font-weight: bold;
    background-image: url("images/bokeh-2072271_1280.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #0A2C5C;
  }

  .header-div a {
    color: #0A2C5C;
  }
  
  .giant {
    font-size: 6rem;
  }

@media screen and (max-width: 768px) {
    .giant {
        font-size: 3rem; /* Adjust font size for smaller screens */
    }
}

@media screen and (max-width: 576px) {
    .giant {
        font-size: 2.5rem; /* Further adjust font size for even smaller screens */
    }
}

.icon-image {
  width: 70px;
  height: auto;
}

  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

  .rounded-img {
    border-radius: 50%;
    width: 50%;
    height: auto;
    height: auto;
    border: 1px solid #02506B;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 98%;
    left: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  a:link {
    text-decoration: none;
    color: #0A2C5C;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #F7E9EE;
  }
  
  .topnav a {
    float: right;
    color: #0A2C5C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(221,221,221, .5);
    border-radius: 110px;
    color: #0A2C5C;
  }
  
  .topnav a.active {
    background-color: rgb(221,221,221, .5);
    border-radius: 110px;
    color: #0A2C5C;
  }
  
  .topnav a.split {
    float: left;
    color: white;
  }

    ul.left {
    display:inline-block;
    border-left: 1px solid rgba(255, 255, 255, .5);
    padding:20px;
  }
  
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
  }
  
  li {
    float: left;
    padding: 10px;
  }
  
  li a {
    display: block;
    color: #0A2C5C;
    text-align: left;
    padding: 0px 0px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    color: #ddd;
  }
  
  li a.active {
    color: white;
    background-color: #5180C0;
  }

  a:link {
    text-decoration: none;
  }
  
  .block {
    border: 1px solid red;
    text-align: center;
    vertical-align: middle;
  }
  
  .spacer {
    padding: 3rem 2rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
th, td {
    padding: 8px;
    text-align: left;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .btn-new {
    border: 2px solid #BDD5D7;
    color: #BDD5D7;
    background-color: #02506B;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 110px;
  }
  
  .btn-new:hover {
    background: #BDD5D7;
    color: #02506B;
    border-color: #02506B;
  }
  
  h2.fadeIn span{
    opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 2.5s ease-out forwards;
    display:inline-block;
  }
  
  h2.fadeIn span:nth-of-type(2){
    animation-delay: 1s;
  }
  
  h2.fadeIn span:nth-of-type(3){
    animation-delay: 2s;
  }
  
  @keyframes fadeIn{
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  footer {
    text-align: center;
    padding: 3px;
    background-color: #F7E9EE;
    color: #ffffff;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 1px;
  }

  .grid-item img {
    width: 50%; 
    height: auto; /* Maintain aspect ratio */
  }
  
    .bottom-left {
      position: absolute;
      bottom: 8px;
      left: 16px;
    }
  
    .top-left {
      position: absolute;
      top: 8px;
      left: 16px;
    }
  
    .top-right {
      position: absolute;
      top: 8px;
      right: 16px;
    }
  
    .bottom-right {
      position: absolute;
      bottom: 8px;
      right: 16px;
    }
  
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .container {
      display: flex;
      flex-wrap: wrap; /* Allow items to wrap to the next line */
      padding: 20px;
      margin: 10px;
  }

  .component {
      flex: 1; /* Flex-grow: 1 (grow to fill available space) */
      padding: 20px;
      margin: 40px;
      box-sizing: border-box; /* Include padding and border in width calculation */
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5); /* Add a shadow */
  }
  
  /* Media query for responsiveness */
  @media screen and (max-width: 768px) {
      .container {
          flex-direction: column; /* Stack items vertically on smaller screens */
      }
  }

  .padding-margin { /* used in header-div */
    padding: 20px; 
    margin: 10px; 
  }

  * {
    box-sizing: border-box;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: rgba(10, 44, 92, .4);
    top: 0;
    bottom: 0;
    left: 5%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .timeline-container {
    padding: 16px 8px;
    position: relative;
    width: 90%;
  }
  
  /* The circles on the timeline */
  .timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #0A2C5C;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left 
  .left {
    left: 0;
  }
  */

  /* Place the container to the right */
  .right {
    left: 5%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent  rgba(10, 44, 92, .1);;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent  rgba(10, 44, 92, .1) transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }